:root {
    --dark-green: #022B3A;
    --green: #1f7A8C;
    --light-blue: #BFDBF7;
    --grey: #E1E5F2;
    --white: #FFF;
    --creme: #FCF5C7;
    --light-green: #ADF7B6;
    --blue-grey: #A0CED9;
    --yellow: #FFEE93;
    --light-red: #FFC09F;

}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--dark-green);
    font-weight: bold;
}

/* Body */
body {
    background-color: var(--white);
    color: var(--dark-green);
}

/* Header */

.header {
    background-color: #BFDBF7;
    padding: 15px;
}

.col-left {
    display: flex;
    justify-content: flex-start;
}

.col-right{
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    background-color: var(--green);
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
}

.nav-link:hover {
    background-color: var(--grey);
    color: var(--dark-green);
}


/* Main */
.video-div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 45px;
}

.video-div video {
    max-width: 100%;
    border: 3px solid var(--light-blue);
    border-radius: 20px;
    outline: none;
    -webkit-box-shadow: 0px 10px 26px 4px rgba(191,219,247,1);
    -moz-box-shadow: 0px 10px 26px 4px rgba(191,219,247,1);
    box-shadow: 0px 10px 26px 4px rgba(191,219,247,1);
}

.video-subtext {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-subtext h3 {
    padding: 15px;
    border-top: 5px solid var(--grey);
    border-bottom: 5px solid var(--grey);
    text-align: center;
}

.video-buttons {
    margin-top: 15px;
}

.btns {
    margin: 0 20px;
    padding: 12px;
    background-color: #ADF7B6;
    color: var(--green);
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
    border: none;
}

.btns:hover {
    text-decoration: none;
    color: var(--dark-green);
}

/* Profile Page */
.profile-column {
    padding-left: 0;
    padding-right: 0;
}

.profile-bg {
    width: 100%;
    border-bottom: 3px solid var(--light-blue);
}

.profile-bg img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--light-blue);
}

.profile-info img {
    padding-top: 10px;
    display: block;
    max-width: 200px;
    max-height: 200px;
    border-bottom: 3px solid var(--light-blue);
}

.profile-info h4 {
    padding-top: 10px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
    gap: 15px;
}

/* TODOS */
.todo-column {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--creme);
    border-radius: 15px;
    margin-bottom: 15px;
}

.todo-header, .notes-header {
    text-align: center;
}

.todo-header {
    background-color: var(--creme);
}

.todo-header h4 {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.todo-content {
    padding: 1rem;
    padding-bottom: 0;
}

.todo-color-red {
    display: flex;
    align-items: center;
    background-color: var(--light-red);
    padding: 10px;
    border-radius: 15px;
}

.todo-color-green {
    display: flex;
    align-items: center;
    background-color: var(--light-green);
    padding: 10px;
    border-radius: 15px;
}

.todo-content label {
    display: inline-block;
    padding-left: 0.5rem;
    margin: 0;
}

.todo-content a {
    display: block;
}

.todo-content h5 {
    display: block;
    margin: 0;
}

.todo-content p {
    padding-left: 1.7rem;
}

/* NOTES */

.notes-column {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--creme);
    border-radius: 15px;
    margin-bottom: 15px;
}

.notes-header {
    background-color: var(--creme);
}

.notes-header h4 {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.notes-content {
    padding: 1rem;
    padding-bottom: 0;
}

.notes-color {
    background-color: var(--light-blue);
    padding: 10px;
    border-radius: 15px;
}

.notes-content label {
    padding-left: 0.5rem;
    margin: 0;
}

.notes-content h5 {
    display: inline-block;
    margin: 0;
    padding: 2px;
    padding-left: 10px;
}

.notes-content li {
    margin-left: 2.5rem;
}

/* Buttons and links */
.content-button {
    display: flex;
    justify-content: flex-end;
}

.btns-2 {
    margin: 0 20px;
    padding: 10px;
    background-color: #ADF7B6;
    color: var(--green);
    border: 2px solid var(--green);
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
    outline: none;
}

.btns-2:hover {
    text-decoration: none;
    color: var(--dark-green);
}

.detail-link:hover {
    color: var(--dark-green);
    text-decoration: underline;
}

input[type=checkbox]:checked + label {
    font-weight: 400;
    font-style: italic;
    text-decoration-color: #ccc;
    text-decoration-line: line-through;
}

#profile-info-div {
    visibility: hidden;
}

#close-edit {
    visibility: hidden;
}


/* Media */
@media (max-width:990px) {

    .profile-info img {
        max-width: 100%;
        padding: 0;
    }

}

@media (max-width:767px) {
    .profile-info {
    border-top: 3px solid var(--light-blue);
    border-right: none;
    margin-top: 15px;
    }

    .order-1 {
        order: 2;
    }

    .order-2 {
        order: 1;
    }
}

@media (max-width:507px) {
    .header {
        padding: 10px;
    }

    .col-right {
        padding: 0;
    }

    .col-left {
        padding: 0;
    }

    .nav-item {
        margin: 0 3px;
    }
}
@media (max-width:500px) {
    .content-container {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    .todo-column, .notes-column {
        margin-bottom: 15px;
    }

    .btns-2 {
    margin-bottom: 15px;
    }
}
@media (max-width:388px) {
    .nav-link {
        background-color: var(--green);
        color: #FFF;
        font-size: 0.7rem;
        font-weight: bold;
        border-radius: 20px;
    }
}
